.vscode/**
.vscode-test/**
docs/**
src/**
out/test/**

vsc-extension-quickstart.md
_config.yml
**/.gitignore
**/.eslintignore
**/.eslintrc.json
**/.yarnrc
**/yarn.lock
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
**/package-lock.json

# ignore because we use esbuild to bundle all dependencies to single file
node_modules
!node_modules/node-gyp

**/.github/**
node_modules/**/.*
node_modules/**/@types/**
node_modules/**/test/**
node_modules/**/*.md
node_modules/**/LICENSE
node_modules/**/license
node_modules/**/README.md
node_modules/**/readme.md

